<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Here is your profile information from Spotify:</p>
<ul>
    <li>ID: <span th:text="${userInfo['id']}">User ID</span></li>
    <li>Name: <span th:text="${userInfo['display_name']}">User Name</span></li>
    <li>Email: <span th:text="${userInfo['email']}">email@example.com</span></li>
    <li>Country: <span th:text="${userInfo['country']}">Country</span></li>
    <li>Followers: <span th:text="${userInfo['followers']['total']}">0</span></li>
    <!-- Verifica se userInfo não é nulo e contém a chave 'images' -->
    <div th:if="${userInfo != null and userInfo['images'] != null and userInfo['images'].size() > 0}"
         th:with="imageUrl=${userInfo['images'][0]['url']}">
        <li>Profile Picture: <img th:src="${imageUrl}" alt="Profile Picture" /></li>
    </div>
</ul>
<a href="/logout">Logout</a>
</body>
</html>
